body {
  /* background: url("https://img.freepik.com/free-vector/programming-code-coding-hacker-background-programming-code-icon-made-with-binary-code_127544-815.jpg?size=626&ext=jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kumbh Sans", sans-serif;
  background-color: lightgray;
}

.Sign-In {
  border-radius: 15px;
}

.singlePost {
  background-color: rgb(241, 66, 12, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.title {
  font-size: 30pt;
}

div img {
  height: 30vh;
  padding: 10px;
}

.createPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid pink;
  width: 50vw;
}

.createPostContainer {
  display: flex;
  justify-content: center;
}

.main-card-container {
  display: flex;
  margin: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid hotpink; */
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-color: peachpuff;
}

.card-container:hover {
  box-shadow: 4px 8px grey;
  cursor: -webkit-grab;
  cursor: grab;
}

.card-title {
  font-size: 28px;
  /* padding-bottom: 50px; */
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px black;
  /* background-color: black; */
}

.card-author {
  font-size: 20px;
  padding: 5px;
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px black;
}

/* .postContent {
  height: 135px;

} */

.delete-button {
  border-radius: 10px;
  border: 2px solid green;
  width: 100vw;
}

.createPostContainer {
  padding-top: 15px;
  display: flex;
}

.createPost input,
textarea,
label,
button {
  margin: 5px;
  padding: 4px;
}
